
/* @keyframes static-bg-translate {
  from {left: inherit; top: inherit}
  to {left: 5rem; top: 0rem}
} */
/* .static-bg.token-1 {
  animation: static-bg-translate ease forwards;
  animation-timeline: view(130vh)
} */